<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.calocallo.sicape">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.lapbul.ListLapbulActivity" />
        <activity android:name=".ui.main.wanjak.ListWanjakActivity" />
        <activity android:name=".ui.main.skhp.DetailSkhpActivity" />
        <activity android:name=".ui.main.skhp.EditSkhpActivity" />
        <activity android:name=".ui.main.skhp.AddSkhpActivity" />
        <activity android:name=".ui.main.skhp.ListSkhpActivity" />
        <activity android:name=".ui.main.catpers.EditCatpersActivity" />
        <activity android:name=".ui.main.catpers.DetailCatpersActivity" />
        <activity android:name=".ui.main.choose.ChooseSktbSkttActivity" />
        <activity android:name=".ui.main.rehab.sp3.DetailSp3Activity" />
        <activity android:name=".ui.main.rehab.sp3.EditSp3Activity" />
        <activity android:name=".ui.main.rehab.sp3.AddSp3Activity" />
        <activity android:name=".ui.main.rehab.sktt.DetailSkttActivity" />
        <activity android:name=".ui.main.rehab.sktt.EditSkttActivity" />
        <activity android:name=".ui.main.rehab.sktt.AddSkttActivity" />
        <activity android:name=".ui.main.rehab.sktb.DetailSktbActivity" />
        <activity android:name=".ui.main.rehab.sktb.EditSktbActivity" />
        <activity android:name=".ui.main.rehab.sktb.AddSktbActivity" />
        <activity android:name=".ui.main.rehab.rpph.EditRpphActivity" />
        <activity android:name=".ui.main.rehab.rpph.DetailRpphActivity" />
        <activity android:name=".ui.main.rehab.rpph.AddRpphActivity" />
        <activity android:name=".ui.main.rehab.rps.EditRpsActivity" />
        <activity android:name=".ui.main.choose.skhd.ChooseSkhdActivity" />
        <activity android:name=".ui.main.rehab.rps.AddRpsActivity" />
        <activity android:name=".ui.main.rehab.rps.DetailRpsActivity" />
        <activity android:name=".ui.main.rehab.sp3.ListSp3Activity" />
        <activity android:name=".ui.main.rehab.sktt.ListSkttActivity" />
        <activity android:name=".ui.main.rehab.sktb.ListSktbActivity" />
        <activity android:name=".ui.main.rehab.rpph.ListRpphActivity" />
        <activity android:name=".ui.main.rehab.rps.ListRpsActivity" />
        <activity android:name=".ui.main.rehab.PickRehabActivity" />
        <activity android:name=".ui.main.skhd.tinddisiplin.DetailTindDisiplinActivity" />
        <activity android:name=".ui.main.skhd.tinddisiplin.EditTindDisiplinSkhdActivity" />
        <activity android:name=".ui.main.skhd.tinddisiplin.AddTindDisiplinSkhdActivity" />
        <activity android:name=".ui.main.putkke.EditPutKkeActivity" />
        <activity android:name=".ui.main.choose.lp.ListLpKkePutKkeActivity" />
        <activity android:name=".ui.main.putkke.AddPutKkeActivity" />
        <activity android:name=".ui.main.putkke.DetailPutKkeActivity" />
        <activity android:name=".ui.main.skhd.edit.EditSkhdActivity" />
        <activity android:name=".ui.main.choose.lp.ListLpSkhdActivity" />
        <activity android:name=".ui.main.choose.lp.ChooseLpSkhdActivity" />
        <activity android:name=".ui.main.choose.lhp.ChooseLhpActivity" />
        <activity android:name=".ui.main.putkke.ListPutKkeActivity" />
        <activity android:name=".ui.main.lhp.edit.EditDetailRefPenyelidikanActivity" />
        <activity android:name=".ui.main.lhp.edit.ListDetailRefPenyelidikanActivity" />
        <activity android:name=".ui.main.lhp.add.OtherAddLhpActivity" />
        <activity android:name=".ui.main.lhp.add.ListKetTerlaporLhpActivity" />
        <activity android:name=".ui.main.lhp.add.PickSaksiAddLhpActivity" />
        <activity android:name=".ui.main.lhp.add.AddPersonelLidikActivity" />
        <activity android:name=".ui.main.lhp.add.PickPersonelPenyelidikActivity" />
        <activity android:name=".ui.main.lhp.add.ReferensiPenyelidikanLhpActivity" />
        <activity android:name=".ui.main.lp.pasal.PickPasalActivity" />
        <activity android:name=".ui.main.lp.pasal.PickSaksiActivity" />
        <activity android:name=".ui.main.lp.pidana.EditLpPidanaActivity" />
        <activity android:name=".ui.main.lp.kke.EditLpKkeActivity" />
        <activity android:name=".ui.main.lp.disiplin.EditLpDisiplinActivity" />
        <activity android:name=".ui.main.lp.disiplin.DetailLpDisiplinActivity" />
        <activity android:name=".ui.main.lp.kke.DetailLpKkeActivity" />
        <activity android:name=".ui.main.lp.pidana.DetailLpPidanaActivity" />
        <activity android:name=".ui.main.lp.disiplin.ListLpDisiplinActivity" />
        <activity android:name=".ui.main.lp.kke.ListLpKodeEtikActivity" />
        <activity android:name=".ui.main.lp.pidana.ListLpPidanaActivity" />
        <activity android:name=".ui.main.lp.disiplin.AddLpDisiplinActivity" />
        <activity android:name=".ui.main.lp.kke.AddLpKodeEtikActivity" />
        <activity android:name=".ui.main.lp.pidana.AddLpPidanaActivity" />
        <activity android:name=".ui.main.lhp.edit.analisa.EditAnalisaLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.analisa.AddAnalisaLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.terlapor.EditTerlaporLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.terlapor.AddTerlaporLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.analisa.PickAnalisaLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.terlapor.PickTerlaporLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.barangbukti.EditBarBuktiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.barangbukti.AddBarBuktiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.barangbukti.PickBarBuktiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.petunjuk.EditPetunjukLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.petunjuk.AddPetunjukLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.petunjuk.PickPetunjukActivity" />
        <activity android:name=".ui.main.lhp.edit.surat.EditSuratLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.surat.AddSingleSuratLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.surat.PickSuratLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.saksi.EditSaksiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.saksi.AddSingleSaksiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.saksi.PickEditSaksiLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.lidik.AddSingleLidikLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.lidik.PickLidikLhpActivity" />
        <activity android:name=".ui.main.lhp.edit.lidik.EditLidikLhpActivity" />
        <activity android:name=".ui.main.choose.lp.LpChooseActivity" />
        <activity android:name=".ui.main.choose.lp.ChooseLpActivity" />
        <activity android:name=".ui.main.lp.saksi.PickSaksiLpEditActivity" />
        <activity android:name=".ui.main.lp.pasal.PickPasalLpEditActivity" />
        <activity android:name=".ui.main.lp.saksi.AddSaksiLpActivity" />
        <activity android:name=".ui.main.lp.saksi.EditSaksiLpActivity" />
        <activity android:name=".ui.main.lp.saksi.PickSaksiLpActivity" />
        <activity android:name=".ui.main.lp.pasal.EditPasalLpActivity" />
        <activity android:name=".ui.main.lp.pasal.PickPasalLpActivity" />
        <activity android:name=".ui.main.lp.pasal.AddPasalLpActivity" />
        <activity android:name=".ui.main.pelanggaran.PickPelanggaranActivity" />
        <activity android:name=".ui.main.choose.ChoosePersonelActivity" />
        <activity android:name=".ui.main.editpersonel.relasi.AddSingleRelasiActivity" />
        <activity android:name=".ui.main.editpersonel.relasi.EditRelasiActivity" />
        <activity android:name=".ui.main.editpersonel.pernah_dihukum.EditPernahDihukumActivity" />
        <activity android:name=".ui.main.editpersonel.pernah_dihukum.AddSinglePernahDihukumActivity" />
        <activity android:name=".ui.main.editpersonel.pernah_dihukum.PickPernahDihukumActivity" />
        <activity android:name=".ui.main.editpersonel.orangs.AddSingleOrangsActivity" />
        <activity android:name=".ui.main.editpersonel.orangs.EditOrangsActivity" />
        <activity android:name=".ui.main.editpersonel.signalement.EditSignalementActivity" />
        <activity android:name=".ui.main.editpersonel.foto.EditFotoActivity" />
        <activity android:name=".ui.main.editpersonel.relasi.PickRelasiActivity" />
        <activity android:name=".ui.main.editpersonel.med_sos.AddSingleMedSosActivity" />
        <activity android:name=".ui.main.editpersonel.med_sos.EditMedSosActivity" />
        <activity android:name=".ui.main.editpersonel.media_info.EditMedInfoActivity" />
        <activity android:name=".ui.main.editpersonel.media_info.AddSingleMedInfoActivity" />
        <activity android:name=".ui.main.editpersonel.med_sos.PickMedSosActivity" />
        <activity android:name=".ui.main.editpersonel.media_info.PickMedInfoActivity" />
        <activity android:name=".ui.main.editpersonel.sahabat.EditSahabatActivity" />
        <activity android:name=".ui.main.editpersonel.sahabat.AddSingleSahabatActivity" />
        <activity android:name=".ui.main.editpersonel.sahabat.PickSahabatActivity" />
        <activity android:name=".ui.main.editpersonel.tokoh.EditTokohActivity" />
        <activity android:name=".ui.main.editpersonel.tokoh.AddSingleTokohActivity" />
        <activity android:name=".ui.main.editpersonel.tokoh.PickTokohActivity" />
        <activity android:name=".ui.main.editpersonel.orangs.PickOrangsActivity" />
        <activity android:name=".ui.main.editpersonel.saudara.EditSaudaraActivity" />
        <activity android:name=".ui.main.editpersonel.saudara.AddSingleSaudaraActivity" />
        <activity android:name=".ui.main.editpersonel.saudara.PickSaudaraActivity" />
        <activity android:name=".ui.main.editpersonel.anak.EditAnakActivity" />
        <activity android:name=".ui.main.editpersonel.anak.AddSingleAnakActivity" />
        <activity android:name=".ui.main.editpersonel.anak.PickAnakActivity" />
        <activity android:name=".ui.main.editpersonel.keluarga.EditKeluargaActivity" />
        <activity android:name=".ui.main.editpersonel.keluarga.EditPasanganActivity" />
        <activity android:name=".ui.main.editpersonel.organisasi_dll.EditPenghargaanActivity" />
        <activity android:name=".ui.main.editpersonel.organisasi_dll.EditPerjuanganCitaActivity" />
        <activity android:name=".ui.main.editpersonel.organisasi_dll.EditOrganisasiActivity" />
        <activity android:name=".ui.main.editpersonel.organisasi_dll.AddSingleOrganisasiActivity" />
        <activity android:name=".ui.main.editpersonel.organisasi_dll.PickMenuOrganisasiDllActivity" />
        <activity android:name=".ui.main.editpersonel.alamat.AddSingleAlamatActivity" />
        <activity android:name=".ui.main.editpersonel.alamat.EditAlamatActivity" />
        <activity android:name=".ui.main.editpersonel.alamat.PickAlamatActivity" />
        <activity android:name=".ui.main.skhd.DetailSkhdActivity" />
        <activity android:name=".ui.main.skhd.AddSkhdActivity" />
        <activity android:name=".ui.main.skhd.tinddisiplin.SkhdTindDisiplinActivity" />
        <activity android:name=".ui.main.skhd.PickSkhdActivity" />
        <activity android:name=".ui.main.skhd.SkhdActivity" />
        <activity android:name=".ui.main.lp.AddLpActivity" />
        <activity android:name=".ui.main.lp.DetailLpActivity" />
        <activity android:name=".ui.main.lp.EditLpActivity" />
        <activity android:name=".ui.main.lp.LpActivity" />
        <activity android:name=".ui.main.lp.PickLpActivity" />
        <activity android:name=".ui.main.lhp.EditLhpActivity" />
        <activity android:name=".ui.main.lhp.DetailLhpActivity" />
        <activity android:name=".ui.main.editpersonel.pekerjaan.EditPekerjaanActivity" />
        <activity android:name=".ui.main.lhp.add.AddLhpActivity" />
        <activity android:name=".ui.main.lhp.LhpActivity" />
        <activity android:name=".ui.main.editpersonel.EditPersonelActivity" />
        <activity android:name=".ui.main.editpersonel.pendidikan.EditPendidikanActivity" />
        <activity android:name=".ui.main.addpersonal.AddCatPersActivity" />
        <activity android:name=".ui.main.addpersonal.AddFotoActivity" />
        <activity android:name=".ui.main.addpersonal.AddSignalementActivity" />
        <activity android:name=".ui.main.addpersonal.AddPersonelActivity" />
        <activity android:name=".ui.main.addpersonal.medsos.AddMedsosActivity" />
        <activity android:name=".ui.main.addpersonal.mediainfo.AddMedianfoActivity" />
        <activity android:name=".ui.main.addpersonal.kawan.AddKawanDekatActivity" />
        <activity android:name=".ui.main.addpersonal.tokoh.AddTokohDikagumiActivity" />
        <activity android:name=".ui.main.addpersonal.orangs.AddOrgDiseganiAdatActivity" />
        <activity android:name=".ui.main.addpersonal.orangs.AddOrgSelainOrtuActivity" />
        <activity android:name=".ui.main.addpersonal.saudara.AddSaudaraActivity" />
        <activity android:name=".ui.main.addpersonal.AddAyahKandungActivity" />
        <activity android:name=".ui.main.addpersonal.AddMertuaPerempuanActivity" />
        <activity android:name=".ui.main.addpersonal.AddMertuaLakiActivity" />
        <activity android:name=".ui.main.addpersonal.AddIbuTiriActivity" />
        <activity android:name=".ui.main.addpersonal.AddIbuKandungActivity" />
        <activity android:name=".ui.main.addpersonal.AddAyahTiriActivity" />
        <activity android:name=".ui.main.addpersonal.misc.MiscenaousActivity" />
        <activity android:name=".ui.main.addpersonal.relasi.AddRelasiActivity" />
        <activity android:name=".ui.main.addpersonal.pendidikan.PendPersonelActivity" />
        <activity android:name=".ui.main.addpersonal.alamat.AddAlamatActivity" />
        <activity android:name=".ui.main.addpersonal.pekerjaan.PekerjaanPersonelActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.main.personel.PersonelActivity" />
        <activity android:name=".ui.main.addpersonal.anak.AddAnakActivity" />
        <activity android:name=".ui.main.personel.DetailPersonelActivity" />
        <activity android:name=".ui.main.catpers.AddCatpersActivity" />
        <activity android:name=".ui.main.catpers.CatpersActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.main.addpersonal.pasangan.AddPasanganActivity" />
        <activity android:name=".ui.splash.SplashActivity" />
        <activity android:name=".ui.main.anev.AnevActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
