<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.calocallo.sicape">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.editpersonel.alamat.AddSingleAlamatActivity"></activity>
        <activity android:name=".ui.main.editpersonel.alamat.EditAlamatActivity" />
        <activity android:name=".ui.main.editpersonel.alamat.PickAlamatActivity" />
        <activity android:name=".ui.main.editpersonel.pekerjaan_luar.EditPkrjnLuarDinasActivity" />
        <activity android:name=".ui.main.skhd.DetailSkhdActivity" />
        <activity android:name=".ui.main.skhd.AddSkhdActivity" />
        <activity android:name=".ui.main.skhd.SkhdTindDisiplinActivity" />
        <activity android:name=".ui.main.skhd.PickSkhdActivity" />
        <activity android:name=".ui.main.skhd.SkhdActivity" />
        <activity android:name=".ui.main.lp.AddLpActivity" />
        <activity android:name=".ui.main.lp.DetailLpActivity" />
        <activity android:name=".ui.main.lp.EditLpActivity" />
        <activity android:name=".ui.main.lp.LpActivity" />
        <activity android:name=".ui.main.lp.PickLpActivity" />
        <activity android:name=".ui.main.lhp.EditLhpActivity" />
        <activity android:name=".ui.main.lhp.DetailLhpActivity" />
        <activity android:name=".ui.main.editpersonel.pekerjaan.EditPekerjaanActivity" />
        <activity android:name=".ui.main.lhp.AddLhpActivity" />
        <activity android:name=".ui.main.lhp.LhpActivity" />
        <activity android:name=".ui.main.editpersonel.EditPersonelActivity" />
        <activity android:name=".ui.main.editpersonel.pendidikan.EditPendidikanActivity" />
        <activity android:name=".ui.main.addpersonal.AddCatPersActivity" />
        <activity android:name=".ui.main.addpersonal.AddFotoActivity" />
        <activity android:name=".ui.main.addpersonal.AddSignalementActivity" />
        <activity android:name=".ui.main.addpersonal.AddPersonelActivity" />
        <activity android:name=".ui.main.addpersonal.medsos.AddMedsosActivity" />
        <activity android:name=".ui.main.addpersonal.mediainfo.AddMedianfoActivity" />
        <activity android:name=".ui.main.addpersonal.kawan.AddKawanDekatActivity" />
        <activity android:name=".ui.main.addpersonal.tokoh.AddTokohDikagumiActivity" />
        <activity android:name=".ui.main.addpersonal.orangs.AddOrgDiseganiAdatActivity" />
        <activity android:name=".ui.main.addpersonal.orangs.AddOrgSelainOrtuActivity" />
        <activity android:name=".ui.main.addpersonal.saudara.AddSaudaraActivity" />
        <activity android:name=".ui.main.addpersonal.AddAyahKandungActivity" />
        <activity android:name=".ui.main.addpersonal.AddMertuaPerempuanActivity" />
        <activity android:name=".ui.main.addpersonal.AddMertuaLakiActivity" />
        <activity android:name=".ui.main.addpersonal.AddIbuTiriActivity" />
        <activity android:name=".ui.main.addpersonal.AddIbuKandungActivity" />
        <activity android:name=".ui.main.addpersonal.AddAyahTiriActivity" />
        <activity android:name=".ui.main.addpersonal.misc.MiscenaousActivity" />
        <activity android:name=".ui.main.addpersonal.relasi.AddRelasiActivity" />
        <activity android:name=".ui.main.addpersonal.pendidikan.PendPersonelActivity" />
        <activity android:name=".ui.main.addpersonal.alamat.AddAlamatActivity" />
        <activity android:name=".ui.main.addpersonal.pekerjaan.PekerjaanPersonelActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.splash.SplashActivity" />
        <activity android:name=".ui.main.addpersonal.anak.AddAnakActivity" />
        <activity android:name=".ui.main.personel.PersonelActivity" />
        <activity android:name=".ui.main.catpers.AddCatpersActivity" />
        <activity android:name=".ui.main.catpers.CatpersActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.main.addpersonal.pasangan.AddPasanganActivity" />
        <activity android:name=".ui.main.personel.DetailPersonelActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>